@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
body {
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 0px;
    background: #111;
    color:white;
    background-image: url("Img/fundo.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: unset;
}

form {
    display: inline-block;
    text-align: left;
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 5px;
}
input {
    display: block;
    width: 90%;
    margin: 10px 0;
    padding: 8px;
}
button {
    width: 70%;
    padding: 10px;
    background-color: rgb(139, 41, 41);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    width:100%;
}
button:hover {
    background-color: rgb(182, 55, 55);
}
a {
    display: block;
    margin: 10px;
    font-size: 17px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.erro { color: red; margin-bottom: 10px; }
table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    border-radius: 10px;
}
th, td {
    padding: 10px;
    border: 1px solid #c09f9f;
}
a {
    text-decoration: none;
    display: inline-block;
}
.edit {
    background-color: orange;
    color: white;
}
.delete {
    background-color: red;
    color: white;
}

.imagem-fixa {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 500px; /* ajuste conforme necessário */
  height: auto;  /* mantém a proporção */
  z-index: 1000; /* garante que fique acima de outros elementos, se necessário */
}

.header {
  display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    border-bottom: 2px solid #fafafa;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color:  rgb(139, 41, 41);
}
.navbar a {
    color: #ccc;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s;
    font-weight: bold;
    font-size: 22px;
}

.navbar a:hover {
    color: #fff;
}
.hero {
    background: url('https://images.unsplash.com/photo-1571019613913-37c0e877f235?auto=format&fit=crop&w=1400&q=80') no-repeat center center/cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    flex-wrap: wrap; /* Permite que os elementos quebrem linha em telas menores */
    gap: 20px;
}
.hero-content {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    border-radius: 10px;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 15px;
    margin-bottom: 15px;
}
.plans-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.imagem-fundo {
    position: fixed;
  width: 100%; /* ajuste conforme necessário */
  height: 100%;  /* mantém a proporção */
  z-index: -1000; /* garante que fique acima de outros elementos, se necessário */
}
.titulo {
    font-family: Arial, sans-serif;
    text-align: center;
    color:  rgb(139, 41, 41);
}
.titulo2 {
    font-family: Arial, sans-serif;
    text-align: center;
    color:  rgb(139, 41, 41);
    font-size: 40px;
    font-weight: bold;
}
.sub-titulo {
    font-size: 25px;
    font-weight: bold;
}
.preco {
    font-size: 20px;
}
.button {
    border-radius: 10px;
}
.button-link {
      display: inline-block;
      padding: 5px 10px;
      background-color: rgb(139, 41, 41);
      color: white;
      text-decoration: none;
      border-radius: 5px;
      font-family: Arial, sans-serif;
      transition: background-color 0.3s ease;
}
.button-link:hover {
    background-color: rgb(182, 55, 55);
}
.btn {
    background:  rgb(139, 41, 41);
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    transition: background 0.3s;
}
.btn:hover {
    background-color: rgb(182, 55, 55);
}