@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #111;
    color: #fff;
    background-image: url("Img/index.jpg"); /* caminho do arquivo */
    background-size: cover; /* cobre toda a tela */
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    padding: 5px 15px;
    border-bottom: 2px solid #ffffff;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color:  rgb(139, 41, 41);
}

.navbar a {
    color: #ccc;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s;
    font-weight: bold;
    font-size: 24px;
}

.navbar a:hover {
    color: #fff;
}

/* Seção Principal */
.hero {
    background: url('https://images.unsplash.com/photo-1571019613913-37c0e877f235?auto=format&fit=crop&w=1400&q=80') no-repeat center center/cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content {
    background: rgba(0, 0, 0, 0.2);
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 25px;
    margin-bottom: 30px;
}

.btn {
    background:  rgb(139, 41, 41);
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    transition: background 0.3s;
}

.btn:hover {
    background: rgb(163, 50, 50);
}
/* Rodapé */
.footer {
    background: #000;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #444;
    font-size: 14px;
    color: #888;
}
h1 {
    font-family: Arial, sans-serif;
    text-align: center;
    color:  rgb(255, 255, 255);
}
.button {
    border-radius: 10px;
}
.button-link {
      display: inline-block;
      padding: 5px 10px;
      background-color: rgb(139, 41, 41);
      color: white;
      text-decoration: none;
      border-radius: 5px;
      font-family: Arial, sans-serif;
      transition: background-color 0.3s ease;
}
.button-link:hover {
    background-color: rgb(218, 62, 62);
}